body{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(22, 22, 22);
    color: white;
}
header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid white;
    background-color: rgb(22, 22, 22);
    position: fixed;
    z-index: 1;
}
a{
    text-decoration: none;
    color: cadetblue;
    font-size: 24px;
}
.logo{
    text-decoration: none;
    color: cyan;
    font-size: 32px;
}
div{
    display: flex;
    flex-direction: column;
}
img{
    width: 400px;
    height: 250px;
}
main{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post{
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid cadetblue;
    border-radius: 20px;
}
p{
    width: 400px;
    position: relative;
    left: 10px;
    color: white;
    font-size: 18px;
}
h2{
    position: relative;
    left: 10px;
    color: white;
    font-size: 24px;
}
h3{
    position: relative;
    left: 10px;
    color: white;
    font-size: 20px;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    border-top: 1px solid white;
    background-color: rgb(22, 22, 22);
}
input{    
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 35px;
    background-color: cadetblue;
    color: white;
    border: 1px solid cyan;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    position: relative;
    top: 10px;    
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
}