<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}NonameBlog{%endblock%}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'noapp/style.css' %}">
</head>
<body>
    <header>
        <a href="/" class="logo">NonameBlog</a>
        <a href="{%url 'old' %}">old</a>
        <a href="{%url 'month'%}">month</a>
        <a href="{%url 'day'%}">day</a>
        <a href="{%url 'feedback'%}">feedback</a>
    </header>
{%block content%}
{%endblock%}
</body>
</html>