{%extends 'noapp/blog.html'%}
{%block title%}{%endblock%}
{%block content%}
    <main>
        {%for post in posts%}
        <a href="{%url 'post' post.id%}">
            <div class="post">
                <h2>{{post.author}} {{post.title}}</h2>
                {%if post.image%}
                <img src="{{post.image.url}}" alt="">
                {%endif%}
                <p>{{post.text|truncatewords:20}}</p>
                <h3>{{post.published}}</h3>
            </div>
        </a>
        {%endfor%}
    </main>
    <footer>
        {% if posts.has_previous %}
        <a href="?page=1">&laquo; 1</a>
        <a href="?page={{posts.previous_page_number}}">{{posts.previous_page_number}}</a>
        {%endif%}
        <h2>{{posts.number}}</h2>
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">{{posts.next_page_number}}</a>
        <a href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}} &raquo;</a>
        {%endif%}
    </footer>
{%endblock%}