{%extends 'noapp/blog.html'%}
{%block title%}{{post.title}}{%endblock%}
{%block content%}
<main>
        <div class="post">
            <h2>{{post.author}} {{post.title}}</h2>
            {%if post.image%}
            <img src="{{post.image.url}}" alt="">
            {%endif%}
            <p>{{post.text}}</p>
            <h3>{{post.published}}</h3>
        </div>
        <form method="post">
            {%csrf_token%}
            {{form}}
            <button type="submit">POST</button>
        </form>
        <section class="comments">
            {%for comment in comments%}
            <div class="comment">
                <p>{{comment.name}}</p>
                <p>{{comment.text}}</p>
                <h3>{{comment.published}}</h3>
            </div>
            {%endfor%}
        </section>
    </main>
{%endblock%}